.card-image{
  max-width: 300px;
  max-height: 200px;
  aspect-ratio: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#personal-details{
  border: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#personal-details-content{
  display: flex;
}

#personal-details-list{
  text-align: left;
}
