<mat-toolbar color="warn">
  <mat-toolbar-row>
    <div>
      <img src="assets/image/scottish-parliament-logo-black.png" alt="Logo" class="logo">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row">
  <div class="col">
    <hr />
    <!--<app-breadcrumb></app-breadcrumb>-->
  </div>
</div>
<router-outlet></router-outlet>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
