<mat-card id="list-card">
  <mat-card-header>
    <mat-card-title id="list-card-title">Members of the Scottish Parliament</mat-card-title>
    <span class="flexExpand"></span>
    <mat-slide-toggle [(ngModel)]="isPreviousMSPsChecked" (change)="reload($event)">
      Show previous MSPs
    </mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <div class="grid-container">
      <app-parliamentarian-grid-item class="grid-item"
                                     [mspEntry]="mspEntry"
                                     *ngFor="let mspEntry of mspEntries">
      </app-parliamentarian-grid-item>
    </div>
  </mat-card-content>
</mat-card>


