.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  border: 0;
  padding: 4%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-image{
  max-width: 100%;
  aspect-ratio: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#list-card{
  background-color: black;
  border: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#list-card-title{
  font-size: 24px;
}
