@import "~@angular/material/prebuilt-themes/purple-green.css";

:root{
  color-scheme: dark;
  scrollbar-color: #1e1e1e black ;
  background-color: #1e1e1e;
}

html, body {
  height: 100%;
  background-color: #1e1e1e;
}

body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: #bebebe;
}

a{
  color: #b884cb;
}

.mat-mdc-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --mdc-elevated-card-container-color: black;
}

.mat-mdc-card-title {
  color: #b884cb;
}



