@import "~@angular/material/prebuilt-themes/purple-green.css";

:root{
  color-scheme: dark;
  scrollbar-color: #1e1e1e black ;
  background-color: #1e1e1e;
}

html, body {
  height: 100%;
  background-color: #1e1e1e;
}

body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: #bebebe;
}

a{
  color: #b884cb;
}

hr{
  border: 1px solid rgba(131, 131, 131, 0.25);
}

.mat-mdc-card {
  --mdc-elevated-card-container-color: black;
}

.mat-mdc-card-title {
  color: #b884cb;
}

.flexExpand{
  flex: 1 1 auto;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #d0a6ea;
  --mdc-switch-selected-handle-color: #d0a6ea;
  --mdc-switch-selected-hover-state-layer-color: #d0a6ea;
  --mdc-switch-selected-pressed-state-layer-color: #c2a8da;
  --mdc-switch-selected-focus-handle-color: #d0a6ea;
  --mdc-switch-selected-hover-handle-color: #d0a6ea;
  --mdc-switch-selected-pressed-handle-color: #d0a6ea;
  --mdc-switch-selected-focus-track-color: #aa4dc5;
  --mdc-switch-selected-hover-track-color: #aa4dc5;
  --mdc-switch-selected-pressed-track-color: #aa4dc5;
  --mdc-switch-selected-track-color: #aa4dc5;
}

