#details-wrapper {
  margin-left: 25%;
  margin-right: 25%;
}

#msp-detail-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#msp-personal-detail-card, #msp-website-details-card, #msp-parties-details-card {
  aspect-ratio: auto;
  border: 10px;
  text-align: center;
}

#msp-website-details-card, #msp-parties-details-card {
  margin-bottom: 3%;
}

.card-image {
  max-width: 300px;
  max-height: 200px;
  aspect-ratio: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#personal-details, #websites-details, #parties-details {
  aspect-ratio: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#personal-details-content {
  display: flex;
}

#personal-details-list {
  text-align: left;
}
